.logo {
  width: 50px;
  display: inline;
}
.bg-img {
  background-image: url(./../assets/istockphoto-1420039900-612x612.jpg);
}
.header-text {
  font-size: 54px;
}
.inputbar {
  width: 350px;
  height: 40px;
}
::ng-deep .mat-mdc-checkbox label {
  color: white;
  font-size: 17px;
  font-weight: 600;
}
::ng-deep .mat-checkbox-layout {
  background-color: aqua;
}
.textSize {
  font-size: 28px;
  font-weight: 900;
}
.iconSize {
  font-size: 40px;
  width: 50px !important;
  height: 50px !important;
  color: rgb(255, 165, 0) !important;
}
.bolder {
  font-weight: 800;
}
/* Mobile Devices */
@media (max-width: 767px) {
  .font-extrabold {
    font-size: 25px;
  }
  .text-xl {
    text-align: center;
    font-size: 15px;
  }
  .mobile-copy {
    flex-direction: column;
    align-items: center;
  }
  .inputbar {
    width: 320px;
  }
  .mobile-copy button {
    width: 50%;
    margin-top: 10px;
    padding: 12px 20px;
  }
  .ptmobile {
    padding-top: 135px;
  }
  .mobilenav {
    display: none;
  }
  .mobilenavButton {
    display: block;
  }
  .mobileNavview {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10%;
    right: 0%;
    background: white;
  }
  .mobileNavview a {
    padding: 20px 20px;
  }
  .px-24 {
    padding: 18px;
  }
  .icon-center {
    justify-content: center;
  }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
  .font-extrabold {
    font-size: 25px;
  }
  .text-xl {
    text-align: center;
    font-size: 15px;
  }
  .mobile-copy {
    flex-direction: column;
    align-items: center;
  }
  .inputbar {
    width: 320px;
  }
  .mobile-copy button {
    width: 50%;
    margin-top: 10px;
    padding: 12px 20px;
  }
  .ptmobile {
    padding-top: 135px;
  }
  .mobilenav {
    display: none;
  }
  .mobilenavButton {
    display: block;
  }
  .mobileNavview {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10%;
    right: 0%;
    background: white;
  }
  .mobileNavview a {
    padding: 20px 20px;
  }
}

/* Desktops and Larger Screens */
@media (min-width: 1024px) {
  .mobilenavButton {
    display: none;
  }
}
